@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
    color: #1f1f1f;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
/* header */
.header{
    background-color: rgb(224, 255, 226);
    padding: 32px 0;
}
.logo{
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}
.logo a{
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
}
.logo a img{
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}
.navigation{
    width: 70%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.navigation ul{
    list-style: none;
}
.navigation li{
    display: inline-block;
    margin-left: 32px;
}
.navigation li a{
    color: #1f1f1f;
    text-decoration: none;
}
/* main */
/* section 1 */
.banner{
    background-color: azure;
    padding: 100px 0;
}
.blackgroud{
    height: 600px;
    background-image: url("../img/todd-quackenbush-XBxQZLNBM0Q-unsplash.jpg");
    background-position: 0 -500px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.content-banner{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    
}
.content-banner h1{
    font-weight: 400;
    font-size: 40px;
    margin: 8px 0 40px;
}

.img-banner{
    width: calc(50% - 10px);
    display: inline-block;
    overflow: hidden;
    height: 350px;
    vertical-align: middle;
}

.btn{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 32px;
    background-color: rgba(255, 0, 0, 0.808);
}
/* section 2 */
.services{
    padding: 100px 0;
}
.color-td{
    color: rgb(125, 190, 28);
    /* text-transform: uppercase; */
}
.card{
    width: 24%;
    /* background-color: aquamarine; */
    text-align: center;
    box-shadow: 0px 0px 10px #9c9c9c;
    display: inline-block;
    margin-top: 16px;
}
.feature-img{
    overflow: hidden;
    height: 300px;
}
.feature-img img{
    width: 100%;
}
.content-card{
    padding: 8px;
}
.content-card a{
    color: #1f1f1f;
    text-decoration: none;
}
.gia{
    color: rgba(255, 0, 0, 0.808);
}
/* section 3 */
.gioi-thieu{
    padding: 100px 0;
}
.content-banner-3{
    width: 50%;
    display: inline-block;
    vertical-align:top;
    
}
.content-banner-3 h1{
    font-weight: 20px;
    font-size: 20px;
    margin: 8px 0 40px;
}
.content-banner-3 p{
    margin-right: 8px;
}
.img-banner-3{
    width: calc(50% - 10px);
    display: inline-block;
    overflow: hidden;
    height: 400px;
    vertical-align: middle;
}
.img-banner-3 img{
    width: 100%;
}
/* section-4 */
.gioi-thieu{
    padding: 100px 0;
}
.content-banner-4{
    width: 50%;
    display: inline-block;
    vertical-align:top;
    
}
.content-banner-4 h1{
    font-weight: 20px;
    font-size: 20px;
    margin: 8px 0 40px;
}
.img-banner-4{
    width: calc(50% - 10px);
    display: inline-block;
    overflow: hidden;
    height: 400px;
    vertical-align: middle;
}
.img-banner-4 img{
    width: 100%;
}
/* footer */
.footer{
    padding: 100px 0 0;
}
.background{
    background-color: rgb(224, 255, 226);
}
.main-footer{
    padding: 10px;
}
.about-footer{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.about-footer a{
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
}
.about-footer a img{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.list-menu{
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.list-menu ul{
    list-style: none;
}
.list-menu li{
    margin: 12px 0;
}
.list-menu li a{
    color: #1f1f1f;
    text-decoration: none;
}
.ho-ten{
    text-align: center;
    background-color: aquamarine;
}